*::before, *::after, * {
    box-sizing: border-box;
  }

  body {
    background-color: hsl(0, 0%, 0%);
    color: hsl(261, 71%, 5%);
    text-align: center;
  }

  .strength-meter {
    position: relative;
    height: 2rem;
    width: 90%;
    border: 3px solid hsl(0, 0%, 0%);
    border-radius: 1rem;
    margin: 0 auto;
    overflow: hidden;
  }

  .strength-meter::before {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: calc(1% * var(--strength, 0));
    background-color: hsl(123, 83%, 45%);

    transition: width 200ms;
  }

  .password-input {
    margin-top: 1rem;
    width: 90%;
    padding: .25rem .75rem;
    background-color: hsl(261, 88%, 25%);
    color: white;
    border: 1px solid hsl(125, 77%, 45%);
    outline: none;
    text-align: center;
    border-radius: .3rem;
  }

  .reasons > * {
    margin-top: .5rem;
    font-size: large;
    font-weight: bold;
    color: hsl(0, 81%, 37%);
  }